<div class="themesflat-pagination clearfix center">
	{% if pagination_data %}
		<ul>
			{% if pagination_data.prev %}
				<li>
					<a href="{{ pagination_data.prev.link }}" class="page-numbers style">
						<i class="far fa-angle-left"></i>
					</a>
				</li>
			{% endif %}

			{% for page in pagination_data.pages %}
				{% if page.current %}
					<li>
						<a href="#" class="page-numbers current">{{ page.title }}</a>
					</li>
				{% elseif page.class == 'dots' %}
					<li>
						<a href="#" class="page-numbers dots-disabled">{{ page.title }}</a>
					</li>
				{% else %}
					<li>
						<a href="{{ page.link }}" class="page-numbers">{{ page.title }}</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if pagination_data.next %}
				<li>
					<a href="{{ pagination_data.next.link }}" class="page-numbers style">
						<i class="far fa-angle-right"></i>
					</a>
				</li>
			{% endif %}
		</ul>
	{% endif %}
</div>
