<div id="top-bar">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="inner flex-one">
					<div class="top-bar-left top-box flex-three">
						<h6 class="title-map flex-three">
							<i class="fal fa-map-marker-alt"></i>
							Adresse:
							{% set veg_location = fn('get_option', 'veg_options_adresse', '138 Av. de Lodeve, 34070 Montpellier') %}
							<span class="titles fw-4">{{ veg_location }}</span>
						</h6>
						<h6 class="title-email link-style-2">
							<i class="fas fa-envelope"></i>
							{% set veg_email = fn('get_option', 'veg_options_email', 'vegnature@vegnature.fr') %}
							Email:<a href="info:{{ veg_email }}" class="titles fw-4">{{ veg_email }}
							</a>
						</h6>
					</div>
					<div class="top-bar-right top-box flex-three">
						<h6 class="title-map flex-three link-style-2">
							<i class="fal fa-phone-alt"></i>
							Téléphone:
							{% set veg_tel = fn('get_option', 'veg_options_telephone', '123456789') %}
							<a href="tel:{{ veg_tel }}" class="fw-4 titles">+33 (0)
								{{ veg_tel }}</a>
						</h6>
						<div class="follow flex">
							<h6 class="title-icon">Nous suivre :
							</h6>
							<div class="icon-top link-style-2">
								{% include "partials/social-menu.twig" with {'items': social_menu.get_items} %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
