<section class="tf-section2 flat-gallery">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="heading-section">
					<h5 class="">Photo Galleries</h5>
					<h2>Moments forts</h2>
				</div>
				<div class="swiper-container carousel show-boder swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" data-aos="fade-up" data-aos-duration="2000">
					<div class="swiper-wrapper slider-style" id="swiper-wrapper-f8ef065d96108378" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
						<div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5" style="width: 360px; margin-right: 30px;">
							<div class="box-gallery hover-img">
								<div class="images img-style">
									<img src="{{ site.theme.link }}/assets/images/img-box/gallery-1.jpg" alt="images">
									<div class="content flex-two">
										<div class="inner">
											<h3 class="link-style-1">
												<a href="#">Organic Fruits Juice</a>
											</h3>
											<p class="font">Fresh Food &amp; Vegetable</p>
										</div>
										<div class="button-box">
											<a class="button-btn" href="#">
												<i class="fas fa-arrow-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 5" style="width: 360px; margin-right: 30px;">
							<div class="box-gallery hover-img">
								<div class="images img-style">
									<img src="{{ site.theme.link }}/assets/images/img-box/gallery-2.jpg" alt="images">
									<div class="content flex-two">
										<div class="inner">
											<h3 class="link-style-1">
												<a href="#">Organic Fruits Juice</a>
											</h3>
											<p class="font">Fresh Food &amp; Vegetable</p>
										</div>
										<div class="button-box">
											<a class="button-btn" href="#">
												<i class="fas fa-arrow-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" role="group" aria-label="3 / 5" style="width: 360px; margin-right: 30px;">
							<div class="box-gallery hover-img">
								<div class="images img-style">
									<img src="{{ site.theme.link }}/assets/images/img-box/gallery-3.jpg" alt="images">
									<div class="content flex-two">
										<div class="inner">
											<h3 class="link-style-1">
												<a href="#">Organic Fruits Juice</a>
											</h3>
											<p class="font">Fresh Food &amp; Vegetable</p>
										</div>
										<div class="button-box">
											<a class="button-btn" href="#">
												<i class="fas fa-arrow-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" role="group" aria-label="4 / 5" style="width: 360px; margin-right: 30px;">
							<div class="box-gallery hover-img">
								<div class="images img-style">
									<img src="{{ site.theme.link }}/assets/images/img-box/gallery-1.jpg" alt="images">
									<div class="content flex-two">
										<div class="inner">
											<h3 class="link-style-1">
												<a href="#">Organic Fruits Juice</a>
											</h3>
											<p class="font">Fresh Food &amp; Vegetable</p>
										</div>
										<div class="button-box">
											<a class="button-btn" href="#">
												<i class="fas fa-arrow-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" role="group" aria-label="5 / 5" style="width: 360px; margin-right: 30px;">
							<div class="box-gallery hover-img">
								<div class="images img-style">
									<img src="{{ site.theme.link }}/assets/images/img-box/gallery-2.jpg" alt="images">
									<div class="content flex-two">
										<div class="inner">
											<h3 class="link-style-1">
												<a href="#">Organic Fruits Juice</a>
											</h3>
											<p class="font">Fresh Food &amp; Vegetable</p>
										</div>
										<div class="button-box">
											<a class="button-btn" href="#">
												<i class="fas fa-arrow-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="button-custom-slider">
						<div class="swiper-button-next button-slide-custom-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-b4be5e8b2a94b98b" aria-disabled="false"></div>
						<div class="swiper-button-prev button-slide-custom-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-b4be5e8b2a94b98b" aria-disabled="true"></div>
					</div>
					<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
				</div>
			</div>
		</div>
		<div class="buttons mt-lg-5 mt-4 text-center">
			<a class="blob-btn btn-style" href="#">
				Tout voir
				<span class="blob-btn__inner">
					<span class="blob-btn__blobs">
						<span class="blob-btn__blob"></span>
						<span class="blob-btn__blob"></span>
						<span class="blob-btn__blob"></span>
						<span class="blob-btn__blob"></span>
					</span>
				</span>
			</a>
		</div>
	</div>
</section>
