<section class="tf-section2 flat-blog home">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="heading-section center">
					<h5 class="">Idées - Tendances</h5>
					<h2 class="">Nos dernieres actualités</h2>
				</div>
			</div>
			<div class="col-lg-12 col-md-12">
				<div class="swiper-container carousel-4">
					<div class="swiper-wrapper">

						{% for news in post_data %}
							<div class="swiper-slide">
								<div class="blog-box tf-img hover-img hv-one">
									<a class="media img-style" href="blog-details.html">
										<img class="img-item" src="{{ news.thumbnail|resize(360, 260) }}" alt="{{ news.title }}">
										<span class="hover-one"></span>
									</a>
									<div class="content">
										<div class="days absolute">
											<div class="number">{{ news.post_date | date("d") }}</div>
											<div class="titles">{{ news.post_date | date("M Y") }}</div>
										</div>
										<h4>
											{% for category in news.terms('category') %}
												<a href="{{ category.link }}">{{ category.name }}</a>
												{% if not loop.last %},
												{% endif %}
											{% endfor %}
										</h4>
										<h3>
											<a href="{{ news.link }}">
												{% set max_title_length = 50 %}
												{% set truncated_title = news.title %}
												{% if news.title | length > max_title_length %}
													{% set truncated_title = news.title | slice(0, max_title_length - 3) ~ '...' %}
												{% endif %}
												{{ truncated_title }}
											</a>
										</h3>
										<p>{{ news.excerpt.read_more('') }}</p>
										<div class="meta flex-one">
											<a href="{{ news.link }}" class="btn-button flex fw-5">En savoir plus</a>
											<a href="{{ news.link }}" class="comment flex">{{ post_views_counter.getPostViews(news.ID) }}
												vues</a>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
		<div class="buttons mt-lg-5 mt-4 text-center">
			<a class="blob-btn btn-style" href="{{ fn('home_url', '/actualites') }}">
				Toutes les actualités
				<span class="blob-btn__inner">
					<span class="blob-btn__blobs">
						<span class="blob-btn__blob"></span>
						<span class="blob-btn__blob"></span>
						<span class="blob-btn__blob"></span>
						<span class="blob-btn__blob"></span>
					</span>
				</span>
			</a>
		</div>
	</div>
</section>
