<!-- flat brand -->
<section class="flat-brand">
	<div class="container ">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="brand-slider">
					<div class="swiper-container carousel-3">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="slogan-logo">
									<a href="#">
										<img src="{{ site.theme.link }}/assets/images/icon/brand-1.jpg" alt="images">
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slogan-logo active">
									<a href="#">
										<img src="{{ site.theme.link }}/assets/images/icon/brand-2.jpg" alt="images">
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slogan-logo">
									<a href="#">
										<img src="{{ site.theme.link }}/assets/images/icon/brand-1.jpg" alt="images">
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slogan-logo">
									<a href="#">
										<img src="{{ site.theme.link }}/assets/images/icon/brand-2.jpg" alt="images">
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slogan-logo">
									<a href="#">
										<img src="{{ site.theme.link }}/assets/images/icon/brand-2.jpg" alt="images">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
