<!-- flat brand -->
<section class="flat-brand">
	<div class="container ">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="brand-slider">
					<div class="swiper-container carousel-3">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="slogan-logo">
									<a href="https://www.asso-marches-paysans.org/" target="_blank" rel="noreferrer noopener">
										<img src="{{ site.theme.link }}/assets/images/logo/marches_paysans.jpg" alt="images">
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slogan-logo active">
									<a href="https://monavisdanimal.fr/" target="_blank" rel="noreferrer noopener">
										<img src="{{ site.theme.link }}/assets/images/logo/mon_avis_danimal.jpg" alt="images">
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slogan-logo">
									<a href="https://www.montpellier.fr/539-maison-pour-tous-frederic-chopin.htm" target="_blank" rel="noreferrer noopener">
										<img src="{{ site.theme.link }}/assets/images/logo/maison_pour_tous_frederic_chopin.jpg" alt="images">
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slogan-logo">
									<a href="https://spirulinecroqulavie.com/" target="_blank" rel="noreferrer noopener">
										<img src="{{ site.theme.link }}/assets/images/logo/spiruline_croqu_la_vie.jpg" alt="images">
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slogan-logo">
									<a href="https://espritvitalite.com/" target="_blank" rel="noreferrer noopener">
										<img src="{{ site.theme.link }}/assets/images/logo/esprit_vitalite.jpg" alt="images">
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slogan-logo">
									<a href="https://coopere34.org/" target="_blank" rel="noreferrer noopener">
										<img src="{{ site.theme.link }}/assets/images/logo/coopere_34.jpg" alt="images">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
