<section class="tf-section2 flat-category home3">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="heading-section center">
					<h5>Les pôles</h5>
					<h2>Cinq (05) voies d’évolution</h2>
				</div>
				<div class="wrap-category flex">
					<div class="box">
						<div class="images">
							<a href="{{ site.url }}/le-vegetalisme"><img src="{{ site.theme.link }}/assets/images/img-box/vegetalisme.png" alt="images"></a>
						</div>
						<div class="content">
							<div class="title link-style-6">
								<a href="{{ site.url }}/le-vegetalisme">Végétalisme</a>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="images">
							<a href="{{ site.url }}/lien-social"><img src="{{ site.theme.link }}/assets/images/img-box/social-link.png" alt="images"></a>
						</div>
						<div class="content">
							<div class="title link-style-6">
								<a href="{{ site.url }}/lien-social">Le lien social</a>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="images">
							<a href="{{ site.url }}/veganisme"><img src="{{ site.theme.link }}/assets/images/img-box/veganisme.png" alt="images"></a>
						</div>
						<div class="content">
							<div class="title link-style-6">
								<a href="{{ site.url }}/veganisme">Véganisme</a>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="images">
							<a href="{{ site.url }}/lecologie"><img src="{{ site.theme.link }}/assets/images/img-box/ecology.png" alt="images"></a>
						</div>
						<div class="content">
							<div class="title link-style-6">
								<a href="{{ site.url }}/lecologie">L’écologie</a>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="images">
							<a href="{{ site.url }}/le-bien-etre"><img src="{{ site.theme.link }}/assets/images/img-box/bien-etre.png" alt="images"></a>
						</div>
						<div class="content">
							<div class="title link-style-6">
								<a href="{{ site.url }}/le-bien-etre">Le bien-être</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
