<!-- slider -->
<section class="slider home">
	<div class="swiper-container mainslider">
		<div class="swiper-wrapper">
			{% for event in post_data %}
				<div class="swiper-slide">
					<div class="slider-item">
						<div class="flat-slider">
							<div class="img-slider">
								{% if event.thumbnail %}
									<img class="img-item" src="{{ event.thumbnail|resize(1847, 800) }}" alt="{{ event.title }}">
								{% else %}
									<img class="img-item" src="{{ site.theme.link }}/assets/images/slider/slider-01.jpg" alt="{{ event.title }}">
								{% endif %}

							</div>
							<div class="container" style="z-index:2;">
								<div class="content">
									<div class="heading">
										<div class="sub-title">{{ event.meta('date_de_levenement') }}
											à
											{{ event.meta('lieu_de_levenement') }}</div>
										<h1>{{ event.title }}</h1>
										<h3>{{ event.excerpt.read_more('') }}</h3>
									</div>
									<div class="flat-bt-slider">
										<div class="sl-button buttons">
											<a class="blob-btn btn-1 btn-style" href="{{ event.link }}">
												En savoir plus

												<span class="blob-btn__inner">
													<span class="blob-btn__blobs">
														<span class="blob-btn__blob"></span>
														<span class="blob-btn__blob"></span>
														<span class="blob-btn__blob"></span>
														<span class="blob-btn__blob"></span>
													</span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="swiper-pagination2"></div>
	<div class="button-custom-slider">
		<div class="swiper-button-next2 button-slide-custom-next">
			Suiv.
			<i class="far fa-arrow-circle-right"></i>
		</div>
		<div class="swiper-button-prev2 button-slide-custom-prev">
			<i class="far fa-arrow-circle-left"></i>
			Prec.
		</div>
	</div>
</section>
