<section class="w3l-featureshny py-5" id="features">
	{% set statsValues = fn('veg_get_stats_customizer_values') %}
	<div class="container py-md-5">
		<div class="row">
			<div class="col-lg-5 pr-lg-5 mb-lg-0 mb-5">
				<div class="w3l-header-sec text-left mb-md-5 mb-4">
					<h6 class="title-subhny mb-2">{{ statsValues.veg_stats_subtitle }}</h6>
					<h5 class="h5-stats">{{ statsValues.veg_stats_text }}</h5>
					<div class="buttons mt-lg-5 mt-4">
						<a class="blob-btn btn-style" href="about.html">
							En savoir plus
							<span class="blob-btn__inner">
								<span class="blob-btn__blobs">
									<span class="blob-btn__blob"></span>
									<span class="blob-btn__blob"></span>
									<span class="blob-btn__blob"></span>
									<span class="blob-btn__blob"></span>
								</span>
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-7 statsw3-left pl-lg-5">
				<div class="row w3l-stats-section stats-con">
					<div class="col-lg-4 col-6 stats_info counter_grid">
						<i class="fas fa-hands-helping"></i>
						<p class="counter">{{ statsValues.veg_stats_sympathizers }}</p>
						<h3>Sympathisants</h3>
					</div>
					<div class="col-lg-4 col-6 stats_info counter_grid mt-md-0 mt-0">
						<i class="fas fa-globe-europe"></i>
						<p class="counter">{{ statsValues.veg_stats_maps }}</p>
						<h3>Cartes</h3>
					</div>
					<div class="col-lg-4 col-6 stats_info counter_grid2 mt-md-0 mt-4">
						<i class="fas fa-people-carry"></i>
						<p class="counter">{{ statsValues.veg_stats_actions }}</p>
						<h3>Actions</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
