<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-12 col-12">
			<div class="widget widget-logo">
				<div class="flat-box">
					<div class="logo-footer style" id="logo-footer">
						<a href="{{ site.url }}">
							{% if logo %}
								<img id="logo_footer" src="{{ logo[0] }}" alt="Logo-Vegnature" class="footer__logo" width="" height="">
							{% endif %}
						</a>
					</div>

					{% if tagline %}
						<p class="sub-widget-logo lh-28">{{ tagline }}</p>
					{% endif %}
					<h6 class="">
						Adresse:
						{% set veg_location = fn('get_option', 'veg_options_adresse', '138 Av. de Lodeve, 34070 Montpellier') %}
						<span class="fw-4">{{ veg_location }}</span>
					</h6>
					<h6 class="link-style-4">
						Email:
						{% set veg_email = fn('get_option', 'veg_options_email', 'vegnature@vegnature.fr') %}
						<a href="info:{{ veg_email }}" class="fw-4">{{ veg_email }}
						</a>
					</h6>
					<h6 class="link-style-4">
						Appelez nous:
						{% set veg_tel = fn('get_option', 'veg_options_telephone', '123456789') %}
						<a href="tel:{{ veg_tel }}" class="fw-4">+33 (0)
							{{ veg_tel }}</a>
					</h6>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<div class="widget widget-menu style-2 ">
				<div class="title-widget fw-6">Liens</div>
				<ul class="box-menu link-style-4">
					{% if footer_menu %}
						<ul>
							{% for item in footer_menu.get_items %}
								<li class="{{ item.classes | join(' ') }}">
									<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<div class="widget widget-menu style-4">
				<div class="title-widget fw-6">Veg News</div>
				<ul class="recent-news ">
					{% for news in footer_news %}
						<li class="hover-img flex">
							<div class="thumb img-style ">
								<a href="{{ news.link }}">
									<img class="img" src="{{ news.thumbnail|resize(120, 120) }}" alt="images-veg-news">
								</a>
							</div>
							<div class="content link-style-3">
								<h5 class="fw-6">
									<a href="{{ news.link }}">{{ news.title }}
									</a>
								</h5>
								<h6 class="days fw-4">{{ news.post_date | date('d F Y') }}</h6>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="scroll-top" class="go-top">
	<h5 class="text-color-3">
		<a class=""></a>
		Haut de page
	</h5>
</div>
