{% for post in post_data %}
	<div class="col-lg-4 col-md-6 col-sm-12">
		<div class="blog-box tf-img hover-img hv-one">
			<a class="media img-style" href="{{ post.link }}">
				<img class="img-item img-fix" src="{{ post.thumbnail }}" alt="{{ post.title }}">
				<span class="hover-one"></span>
			</a>
			<div class="content">
				<div class="days absolute">
					<div class="number">{{ post.post_date | date("d") }}</div>
					<div class="titles">{{ post.post_date | date("M Y") }}</div>
				</div>
				<h4>
					{% for category in post.terms('category') %}
						<a href="{{ category.link }}">{{ category.name }}</a>
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
				</h4>
				<h3>
					<a href="{{ post.link }}">
						{% set max_title_length = 50 %}
						{% set truncated_title = post.title %}
						{% if post.title | length > max_title_length %}
							{% set truncated_title = post.title | slice(0, max_title_length - 3) ~ '...' %}
						{% endif %}
						{{ truncated_title }}
					</a>
				</h3>

				<p>{{ post.excerpt.read_more('') }}</p>

				<div class="meta flex-one">
					<a href="{{ post.link }}" class="btn-button flex fw-5">En savoir plus</a>
					<a href="{{ post.link }}" class="comment flex">{{ post_views_counter.getPostViews(post.ID) }}
						vues</a>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
